<div class="horizontal-flex-container">
  <div class="flex-grow">
    <app-robot-beacon [beacon]="robot1" [id]="1"></app-robot-beacon>
  </div>
  <div class="flex-grow">
    <app-robot-beacon [beacon]="robot2" [id]="2"></app-robot-beacon>
  </div>
  <div class="flex-grow">
    <app-robot-beacon [beacon]="robot3" [id]="3"></app-robot-beacon>
  </div>
</div>
