/* You can add global styles to this file, and also import other style files */
.horizontal-flex-container {
  flex-grow: 3;
  display: flex;
  height: 100%;
  flex-direction: row;
}

.vertical-flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}
